*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(87, 59, 59);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(126, 104, 104);
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 50%;

}
h1{
    font-size: 2rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
    width: 80%;
    padding: 0.4rem;
    border-radius: 5px;
}

#search-btn{
    padding: 0.4rem;
    border-radius: 5px;

}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid yellow;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    flex-direction: column;
    background: conic-gradient(#c47e88 var(--progress-degree,0%),#784b4b 0%);
}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
}



.stats-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.card {
    background-color: #3e2e2e;
    padding: 12px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    background-color: #4b3535;
    transform: scale(1.02);
}
